
.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #EAEDED;
  .home-img{
    width: 100%;
    mask-image: linear-gradient(to bottom, rgb(161, 42, 42) 50%, transparent 100%);
  }
  .home__image{
    width: 100%; 
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0) ) ;
    z-index: -1;
    margin-bottom: -150px;
  }
  .home__row{
    display: flex;
    z-index: 1;
    width: 500px;
    margin: auto 5px;
  }  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 100%;
    background-color: white;
    margin: 10px;
    padding: 20px;
    z-index: 1;
    box-shadow: 0px 0px 5px 5px #82828221;
  }
  .product__info {
    width: 100%;
    height: 120px;
    margin-bottom: 65px;

    .links{
      text-decoration: none;
      color: rgb(26, 26, 26);
      font-size: 20px;
    }
  }
  .product img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    
  }
  .product__price {
    margin-top: 5px;
  }
  .product__rating {
    display: flex;
  }
  button {
    background-color: #eca63d;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    padding: 10px 40px;
    border-radius:4px;
  }
  button:hover {
    background-color: #d58309;
  }

}